.container-layout{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr; 
    gap: 10px; 
}

.cellPhone{
    background-image: url("../../assets/imgs/Celular.png");
    background-size:contain;
    background-repeat: no-repeat;
    border-radius: 30px;
}

.gridItem{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 20px;
    max-width: 700px;
    height: 400px;
    /* background-color: rgb(218, 56, 56); */
    transition: all 0.5s;
    align-items: center;
}

.linkBox{
    width: 180px;
    height: 150px;
    background-color: rgb(200, 200, 200);
    border-radius: 15px;
    box-shadow: 3px 3px 4px #686868;
    display: flex;
    flex-wrap: wrap;
    transition: all 0.3s;
}

.linkBox:hover{
    background-color: #284B63;
    border: 1px solid white;
}


.imgLink{
    width: 80px;
    height: 80px;
    transition: all 0.5s;
}

.circle{
    width: 150px;
    height: 150px;
    background-color: #284B63;
    padding: 15px;
    border-radius: 50%;
}



@media (max-width: 1050px) {
    .explanation{
        margin-top: 350px !important;
    }
    .linkBox{
        width: 120px;
        height: 120px;
    }
    .imgLink{
        width: 65px;
        height: 65px;
    }
}

@media (max-width: 950px) {
    .linkBox{
        width: 100px;
        height: 100px;
    }
    .imgLink{
        width: 50px;
        height: 50px;
    } 
    .container-layout {
        grid-template-columns: 1fr 1fr;
    }
    
    .gridItem:first-child {
        justify-content: flex-end !important; 
    }
    
    .gridItem:last-child {
        justify-content: flex-star; /* Para alinear el último contenedor a la derecha */
    }

    .explanation{
        margin-top: 50px !important;
    }
}

@media (max-width: 560px) {
    .explanation{
        margin-top: 150px !important;
    }
}

