body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f7fa;
}

.app {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #34495e;
    color: #ecf0f1;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.sidebar h2 {
    margin: 0 0 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    flex-grow: 1;
}

.sidebar ul li {
    margin: 10px 0;
    cursor: pointer;
}

.sidebar ul li:hover {
    color: #1abc9c;
}


.swal2-red-button {
    background-color: #d33 !important;
    color: white !important;
}
.swal2-red-button:hover {
    background-color: #b52 !important;
}

.swal2-blue-button {
    background-color: #3b82f6 !important;
    color: white !important;
}
.swal2-blue-button:hover {
    background-color: #1e70b8 !important;
}

.content {
    flex: 1;
    padding: 20px;
    background-color: #ffffff;
    overflow-y: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.qr-table {
    margin-bottom: 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.qr-table table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
}

.qr-table th, .qr-table td {
    border: none;
    padding: 15px;
    text-align: left;
}

.qr-table th {
    background-color: #f2f2f2;
    color: #34495e;
    font-weight: 600;
}

.qr-table td {
    background-color: #ffffff;
}

.qr-table tr:nth-child(even) td {
    background-color: #f9f9f9;
}

.qr-table input[type="checkbox"] {
    cursor: pointer;
}

.qr-table td span.status-active {
    color: #27ae60;
    font-weight: bold;
}

.qr-table td span.status-inactive {
    color: #e74c3c;
    font-weight: bold;
}

.customization-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.customization-panel > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.customization-panel h3 {
    margin: 0 0 10px;
    color: #34495e;
    font-size: 16px;
}

.customization-panel .patterns, .customization-panel .colors {
    display: flex;
    justify-content: center;
}

.customization-panel .pattern, .customization-panel .color {
    margin: 5px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.customization-panel .pattern img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
}

.customization-panel .pattern.selected, .customization-panel .color.selected {
    border: 3px solid #3498db;
}

.customization-panel .color {
    border: 1px solid #ccc;
}


  
