.btnSubmit{
    width: 210px;
    height: 45px;
    border-radius: 10px;
    border: 2px solid white;
    background-color: #353535 !important;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.5s;
    box-shadow: 2px 2px 2px gray;
    font-weight:bold;
}





@media (max-width:400px){
    .btnSubmit {
        width: 90%;
    }

   
}